@import 'layout/_grid';
// * {
//   outline: 1px solid hotpink;
// }
html {
  font-size: 12px;
}

body {
  font-family: 'Inconsolata', monospace;
  padding: 48px;
  margin: 0;
  color: white;
  background-color: black; // box-shadow: inset 0 0 0 2rem #7a00ff;
}

h1 {
  margin: .5rem 0 3rem;
}

h2 {
  margin: 1rem 0 2rem;
}

h3 {
  margin: 2rem 0 1rem;
  font-weight: 500;
}

p,
li {
  margin: 0 0 1rem;
  opacity: .8;
}

// List
$effect: '.' '2' '9' '.8',
'.' '3' '8' '.7',
'.' '4' '7' '.55',
'.' '5' '6' '.45',
'.' '6' '5' '.35',
'.' '7' '4' '.25',
'.' '8' '3' '.15',
'.' '9' '2' '.08',
;
@mixin stack {
  @for $i from 2 through 9 {
    &:nth-child(n+#{$i}) {
      margin-left: calc( -6rem * 2);
      z-index: -#{$i};
      transition: all 600ms ease;
    }
  }
}

@mixin stack-effect {
  @each $type in $effect {
    &:nth-child(#{nth($type, 2)}) {
      transform: scale( #{nth($type, 1)}9#{nth($type, 3)}, #{nth($type, 1)}9#{nth($type, 3)}); // bottom: -#{nth($type, 2)}px;
    }
  }
}

@mixin image-fade {
  @each $type in $effect {
    &:nth-child(#{nth($type, 2)}) {
      .c-viewport__image {
        opacity: #{nth($type, 4)};
      }
    }
  }
}

@mixin stack-hover {
  @for $i from 2 through 9 {
    &:nth-child(n+#{$i}) {
      margin-left: calc( -5.8rem * 2);
      z-index: -#{$i};
    }
  }
}

.o-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
}

.o-stack__wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: max-content;
  z-index: 999;
  .c-viewport {
    @include stack;
    @include stack-effect;
    @include image-fade;
    &:nth-child(n+2) {
      .c-viewport__id {
        opacity: 0;
      }
    }
  }
  &.selected {
    .c-viewport {
      .c-viewport__image {
        opacity: 1;
      }
      &:nth-child(n+2) {
        transform: scale(1, 1);
        margin-left: 24px;
        z-index: 1 !important;
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        .c-viewport__image img {
          opacity: 1;
        }
        .c-viewport__id {
          opacity: 1;
        }
      }
      &:hover {
        transition: box-shadow 100ms linear;
        box-shadow: 0 0 0 .3rem rgb(251, 255, 0);
        .a.c-viewport__copy {
          color: rgb(251, 255, 0);
        }
      }
      &.cool {
        // box-shadow: 0 0 0 0.125rem pink;
        &.hide {
          // box-shadow: 0 0 0 0.125rem red;
          left: -9999px;
        }
        &.view {
          position: absolute;
          left: 0; // box-shadow: 0 0 0 0.125rem green;
        }
      }
    }
    &:hover {
      .c-viewport {
        &:nth-child(n+2) {
          margin-left: 24px;
        }
      }
    }
    .c-viewport__scroll {
      right: -17px;
      overflow-y: scroll;
    }
  }
  &:hover {
    .c-viewport {
      @include stack-hover;
      transition: all 600ms ease;
    }
  }
}

// .o-stack__wrap.selected+.o-back {
//   left: -64px;
//   width: max-content;
//   padding: 16px;
//   opacity: 1;
//   background-color: black;
//   transition: all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
//   z-index: 9999;
//   &:hover {
//     transition: all 100ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
//     box-shadow: inset 0 0 0 .3rem rgb(8, 0, 255);
//     .svg-inline--fa {
//       transform: rotate(-45deg);
//     }
//   }
//   &:active {
//     box-shadow: inset 0 0 0 .3rem rgb(255, 0, 0);
//     .svg-inline--fa {
//       transform: rotate(-65deg);
//     }
//   }
// }
.o-back {
  position: absolute;
  // left: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
  padding: 16px;
  font-size: 32px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  transition: all 600ms ease;
  width: 0%;
  .svg-inline--fa {
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

.o-back.selected {
  // left: -64px;
  width: max-content;
  padding: 16px;
  opacity: 1;
  background-color: black;
  transition: all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 99999;
  &:hover {
    transition: all 100ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    box-shadow: inset 0 0 0 .3rem rgb(8, 0, 255);
    .svg-inline--fa {
      transform: rotate(-45deg);
    }
  }
  &:active {
    box-shadow: inset 0 0 0 .3rem rgb(255, 0, 0);
    .svg-inline--fa {
      transform: rotate(-65deg);
    }
  }
}

.o-detail {
  display: flex;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .c-viewport {
    vertical-align: top;
    width: calc( 12.9375rem * 1.5);
    .c-viewport__image {
      height: calc( 23rem * 1.5);
    }
  }
  .c-copy {
    max-width: 548px;
    margin-left: 32px;
  }
}

.o-detail__wrap {}

.c-crumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: .875em;
  opacity: .6;
}

.c-crumbs li {
  display: inline-block;
  margin-right: 16px;
  font-weight: 100;
  margin: 0;
  padding: 0;
  &:after {
    content: '>';
    margin-left: 16px;
  }
}

.c-viewport {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  width: 12.9375rem;
  min-width: 7.46875rem;
  box-shadow: 0 0 0 0.125rem black;
  background-color: black;
  cursor: pointer;
}

.c-viewport__id {
  display: flex;
  justify-content: space-between;
  margin: 9px 0 0;
  background-color: black;
}

a.c-viewport__copy {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 8px 0 0;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.c-viewport__version {
  padding: 8px 0 0;
  select {
    background: black;
    color: white;
  }
}

.c-viewport__image {
  height: 23rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  transition: .1s ease-in-out;
}

.c-viewport__scroll {
  position: absolute;
  top: 0;
  bottom: -4px;
  left: 0;
  right: 0;
  /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: hidden;
}

.c-viewport__image img {
  width: 100%;
}