.o-grid {
  display: flex;
  flex-wrap: wrap;
  justify-items: center; }

.o-grid__item:nth-child(1) {
  outline: 1px solid #DA3609; }

.o-grid__item:nth-child(2) {
  outline: 1px solid #7808EA; }

.o-grid__item:nth-child(3) {
  outline: 1px solid #101DE3; }

.o-grid__item:nth-child(4) {
  outline: 1px solid #AD4851; }

.o-grid__item:nth-child(5) {
  outline: 1px solid #3B70E5; }

.o-grid__item:nth-child(6) {
  outline: 1px solid #1BF520; }

.o-grid__item:nth-child(7) {
  outline: 1px solid #EA8F27; }

.o-grid__item:nth-child(8) {
  outline: 1px solid #937A15; }

.o-grid__item:nth-child(9) {
  outline: 1px solid #EC2258; }

.o-stack {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }

.o-grid__item.selected {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: black; }

.o-grid__item {
  display: flex;
  margin: 16px; }

.hidden {
  opacity: .2; }

#a {
  grid-column: 2;
  grid-row: 1; }

#b {
  grid-column: 1;
  grid-row: 2; }

#c {
  grid-column: 2;
  grid-row: 3; }

#d {
  grid-column: 3;
  grid-row: 3; }

.x-effect-test .o-stack__wrap .c-viewport:nth-child(1) .c-viewport__scroll {
  background-color: #DA3609; }

.x-effect-test .o-stack__wrap .c-viewport:nth-child(2) .c-viewport__scroll {
  background-color: #7808EA; }

.x-effect-test .o-stack__wrap .c-viewport:nth-child(3) .c-viewport__scroll {
  background-color: #101DE3; }

.x-effect-test .o-stack__wrap .c-viewport:nth-child(4) .c-viewport__scroll {
  background-color: #AD4851; }

.x-effect-test .o-stack__wrap .c-viewport:nth-child(5) .c-viewport__scroll {
  background-color: #3B70E5; }

.x-effect-test .o-stack__wrap .c-viewport:nth-child(6) .c-viewport__scroll {
  background-color: #1BF520; }

.x-effect-test .o-stack__wrap .c-viewport:nth-child(7) .c-viewport__scroll {
  background-color: #EA8F27; }

.x-effect-test .o-stack__wrap .c-viewport:nth-child(8) .c-viewport__scroll {
  background-color: #937A15; }

.x-effect-test .o-stack__wrap .c-viewport:nth-child(9) .c-viewport__scroll {
  background-color: #EC2258; }

.x-effect-test .c-viewport__scroll img {
  display: none; }

.x-effect-test .c-viewport {
  width: 12.9375rem;
  min-width: unset; }

.x-position-test .cool {
  transition: 500ms; }

.x-position-test .cool.selected {
  position: relative;
  left: -2.1em;
  top: 29em; }

html {
  font-size: 12px; }

body {
  font-family: 'Inconsolata', monospace;
  padding: 48px;
  margin: 0;
  color: white;
  background-color: black; }

h1 {
  margin: .5rem 0 3rem; }

h2 {
  margin: 1rem 0 2rem; }

h3 {
  margin: 2rem 0 1rem;
  font-weight: 500; }

p,
li {
  margin: 0 0 1rem;
  opacity: .8; }

.o-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available; }

.o-stack__wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: max-content;
  z-index: 999; }
  .o-stack__wrap .c-viewport:nth-child(n+2) {
    margin-left: calc( -6rem * 2);
    z-index: -2;
    transition: all 600ms ease; }
  .o-stack__wrap .c-viewport:nth-child(n+3) {
    margin-left: calc( -6rem * 2);
    z-index: -3;
    transition: all 600ms ease; }
  .o-stack__wrap .c-viewport:nth-child(n+4) {
    margin-left: calc( -6rem * 2);
    z-index: -4;
    transition: all 600ms ease; }
  .o-stack__wrap .c-viewport:nth-child(n+5) {
    margin-left: calc( -6rem * 2);
    z-index: -5;
    transition: all 600ms ease; }
  .o-stack__wrap .c-viewport:nth-child(n+6) {
    margin-left: calc( -6rem * 2);
    z-index: -6;
    transition: all 600ms ease; }
  .o-stack__wrap .c-viewport:nth-child(n+7) {
    margin-left: calc( -6rem * 2);
    z-index: -7;
    transition: all 600ms ease; }
  .o-stack__wrap .c-viewport:nth-child(n+8) {
    margin-left: calc( -6rem * 2);
    z-index: -8;
    transition: all 600ms ease; }
  .o-stack__wrap .c-viewport:nth-child(n+9) {
    margin-left: calc( -6rem * 2);
    z-index: -9;
    transition: all 600ms ease; }
  .o-stack__wrap .c-viewport:nth-child(2) {
    transform: scale(.99, .99); }
  .o-stack__wrap .c-viewport:nth-child(3) {
    transform: scale(.98, .98); }
  .o-stack__wrap .c-viewport:nth-child(4) {
    transform: scale(.97, .97); }
  .o-stack__wrap .c-viewport:nth-child(5) {
    transform: scale(.96, .96); }
  .o-stack__wrap .c-viewport:nth-child(6) {
    transform: scale(.95, .95); }
  .o-stack__wrap .c-viewport:nth-child(7) {
    transform: scale(.94, .94); }
  .o-stack__wrap .c-viewport:nth-child(8) {
    transform: scale(.93, .93); }
  .o-stack__wrap .c-viewport:nth-child(9) {
    transform: scale(.92, .92); }
  .o-stack__wrap .c-viewport:nth-child(2) .c-viewport__image {
    opacity: .8; }
  .o-stack__wrap .c-viewport:nth-child(3) .c-viewport__image {
    opacity: .7; }
  .o-stack__wrap .c-viewport:nth-child(4) .c-viewport__image {
    opacity: .55; }
  .o-stack__wrap .c-viewport:nth-child(5) .c-viewport__image {
    opacity: .45; }
  .o-stack__wrap .c-viewport:nth-child(6) .c-viewport__image {
    opacity: .35; }
  .o-stack__wrap .c-viewport:nth-child(7) .c-viewport__image {
    opacity: .25; }
  .o-stack__wrap .c-viewport:nth-child(8) .c-viewport__image {
    opacity: .15; }
  .o-stack__wrap .c-viewport:nth-child(9) .c-viewport__image {
    opacity: .08; }
  .o-stack__wrap .c-viewport:nth-child(n+2) .c-viewport__id {
    opacity: 0; }
  .o-stack__wrap.selected .c-viewport .c-viewport__image {
    opacity: 1; }
  .o-stack__wrap.selected .c-viewport:nth-child(n+2) {
    transform: scale(1, 1);
    margin-left: 24px;
    z-index: 1 !important;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .o-stack__wrap.selected .c-viewport:nth-child(n+2) .c-viewport__image img {
      opacity: 1; }
    .o-stack__wrap.selected .c-viewport:nth-child(n+2) .c-viewport__id {
      opacity: 1; }
  .o-stack__wrap.selected .c-viewport:hover {
    transition: box-shadow 100ms linear;
    box-shadow: 0 0 0 0.3rem #fbff00; }
    .o-stack__wrap.selected .c-viewport:hover .a.c-viewport__copy {
      color: #fbff00; }
  .o-stack__wrap.selected .c-viewport.cool.hide {
    left: -9999px; }
  .o-stack__wrap.selected .c-viewport.cool.view {
    position: absolute;
    left: 0; }
  .o-stack__wrap.selected:hover .c-viewport:nth-child(n+2) {
    margin-left: 24px; }
  .o-stack__wrap.selected .c-viewport__scroll {
    right: -17px;
    overflow-y: scroll; }
  .o-stack__wrap:hover .c-viewport {
    transition: all 600ms ease; }
    .o-stack__wrap:hover .c-viewport:nth-child(n+2) {
      margin-left: calc( -5.8rem * 2);
      z-index: -2; }
    .o-stack__wrap:hover .c-viewport:nth-child(n+3) {
      margin-left: calc( -5.8rem * 2);
      z-index: -3; }
    .o-stack__wrap:hover .c-viewport:nth-child(n+4) {
      margin-left: calc( -5.8rem * 2);
      z-index: -4; }
    .o-stack__wrap:hover .c-viewport:nth-child(n+5) {
      margin-left: calc( -5.8rem * 2);
      z-index: -5; }
    .o-stack__wrap:hover .c-viewport:nth-child(n+6) {
      margin-left: calc( -5.8rem * 2);
      z-index: -6; }
    .o-stack__wrap:hover .c-viewport:nth-child(n+7) {
      margin-left: calc( -5.8rem * 2);
      z-index: -7; }
    .o-stack__wrap:hover .c-viewport:nth-child(n+8) {
      margin-left: calc( -5.8rem * 2);
      z-index: -8; }
    .o-stack__wrap:hover .c-viewport:nth-child(n+9) {
      margin-left: calc( -5.8rem * 2);
      z-index: -9; }

.o-back {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
  padding: 16px;
  font-size: 32px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  transition: all 600ms ease;
  width: 0%; }
  .o-back .svg-inline--fa {
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.o-back.selected {
  width: max-content;
  padding: 16px;
  opacity: 1;
  background-color: black;
  transition: all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 99999; }
  .o-back.selected:hover {
    transition: all 100ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    box-shadow: inset 0 0 0 0.3rem #0800ff; }
    .o-back.selected:hover .svg-inline--fa {
      transform: rotate(-45deg); }
  .o-back.selected:active {
    box-shadow: inset 0 0 0 0.3rem red; }
    .o-back.selected:active .svg-inline--fa {
      transform: rotate(-65deg); }

.o-detail {
  display: flex; }
  .o-detail:after {
    content: "";
    display: table;
    clear: both; }
  .o-detail .c-viewport {
    vertical-align: top;
    width: calc( 12.9375rem * 1.5); }
    .o-detail .c-viewport .c-viewport__image {
      height: calc( 23rem * 1.5); }
  .o-detail .c-copy {
    max-width: 548px;
    margin-left: 32px; }

.c-crumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: .875em;
  opacity: .6; }

.c-crumbs li {
  display: inline-block;
  margin-right: 16px;
  font-weight: 100;
  margin: 0;
  padding: 0; }
  .c-crumbs li:after {
    content: '>';
    margin-left: 16px; }

.c-viewport {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  width: 12.9375rem;
  min-width: 7.46875rem;
  box-shadow: 0 0 0 0.125rem black;
  background-color: black;
  cursor: pointer; }

.c-viewport__id {
  display: flex;
  justify-content: space-between;
  margin: 9px 0 0;
  background-color: black; }

a.c-viewport__copy {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 8px 0 0;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none; }

.c-viewport__version {
  padding: 8px 0 0; }
  .c-viewport__version select {
    background: black;
    color: white; }

.c-viewport__image {
  height: 23rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  transition: .1s ease-in-out; }

.c-viewport__scroll {
  position: absolute;
  top: 0;
  bottom: -4px;
  left: 0;
  right: 0;
  /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: hidden; }

.c-viewport__image img {
  width: 100%; }
