$colors: #DA3609,
#7808EA,
#101DE3,
#AD4851,
#3B70E5,
#1BF520,
#EA8F27,
#937A15,
#EC2258;

// Flex System

.o-grid {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

@for $i from 1 through length($colors) {
    .o-grid__item:nth-child(#{$i}) {
        outline: 1px solid nth($colors, $i);
    }
}

.o-stack {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.o-grid__item.selected {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: black;
}

.o-grid__item {
    display: flex;
    margin: 16px;
}

.hidden {
    opacity: .2;
}

// Grid System

// .o-grid {
//     position: relative;
//     display: grid;
//     grid-template-columns: auto auto auto;
//     grid-gap: 4em;
//     justify-items: center;
// }

// @for $i from 1 through length($colors) {
//     .o-grid__item:nth-child(#{$i}) {
//         outline: 1px solid nth($colors, $i);
//     }
// }

// .o-stack {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     justify-content: center;
// }

// .o-grid__item {
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     &.selected {
//         grid-column: 1 / 4;
//         grid-row: 1;
//     }
// }

#a {
    grid-column: 2;
    grid-row: 1;
}

#b {
    grid-column: 1;
    grid-row: 2;
}

#c {
    grid-column: 2;
    grid-row: 3;
}

#d {
    grid-column: 3;
    grid-row: 3;
}

// Effect Test Page
.x-effect-test {
    @for $i from 1 through length($colors) {
        .o-stack__wrap .c-viewport:nth-child(#{$i}) .c-viewport__scroll {
            background-color: nth($colors, $i);
        }
    }
    .c-viewport__scroll {
        img {
            display: none;
        }
    }
    .c-viewport {
        width: 12.9375rem;
        min-width: unset;
    }
}

.x-position-test {
    .cool {
        transition: 500ms;
    }
    .cool.selected {
        position: relative;
        left: -2.1em;
        top: 29em;
    }
}